@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-body text-brand-darkBg dark:text-brand-light bg-brand-light dark:bg-brand-darkBg transition-colors duration-300;
}

/* Hide scrollbar for cleaner look on carousels */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}